* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {

    z-index: 1;
    width: 97.8%;
    position: fixed;
    top: 0px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    color: rgb(8, 8, 37);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbarlink {

    display: flex;
    column-gap: 20px;
}

.navbarlink a {
    color: rgb(8, 8, 37);
    text-decoration: none;
}

.navbarlink a:hover {
    text-decoration: underline;
}

.navbar-menu-toggle {
    display: none;
    cursor: pointer;
    margin-right: 20px;
    font-size: 23px;
}

.side-navbar {
    top: 0px;
    z-index: 1;
    width: 50%;
    background-color: rgb(8, 8, 37);
    position: fixed;
    height: 100%;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 1s;
}

.side-navbar-link {
    margin-bottom: 30px;
    margin-left: 30px;
}

.side-navbar-link a {
    color: white;
    text-decoration: none;
}

.side-navbar-link a:hover {
    text-decoration: underline;
}

.closebar {
    text-align: right;
    cursor: pointer;
    font-size: 25px;
}

.header {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-img {
    margin-top: 35px;
}

.one p {
    padding: 10px;
    padding-left: 0px;
}

.header-button {
    background-color: rgb(8, 8, 37);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.service {
    padding: 20px;
}

.service-container-one {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service-container-two {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
    margin-top: 20px;
}

.service-container-two div {
    background-color: #e5eaf0;
    border-radius: 10px;
    padding: 20px;
}

.New-arrival {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.New-arrival-content {
    position: relative;
    flex-basis: 20%;

}

.New-arrival-content img {
    border-radius: 10px;
    transition: transform 0.5s ease;
}
.New-arrival-content img:hover{
    transform: scale(1.10)
}
.New-arrival-content button {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgb(8, 8, 37);
    position: absolute;
    bottom: 20%;
    left: 25%;
    border-radius: 5px;
    border: none;
}

.news {
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.news input {
    width: 80vw;
    padding: 8px;
    border: solid black 2px;
    margin-top: 10px;
}

.news button {
    background-color: rgb(8, 8, 37);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.footer {
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(8, 8, 37);
    color: white;
    border-radius: 5px;
}

.input-collection {
    margin: 30px;
    margin-top: 130px;
}

.input-container {
    width: 80%;
    border: solid black 2px;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.input-container input {
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none
}

.body {
    justify-content: space-evenly;
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.body-container {
    text-align: center;
    flex-basis: 20%;
    padding: 20px;
    margin-bottom: 50px;
}

.body-container img {
    border-radius: 10px;
    transition: transform 0.5s ease;
}
.body-container img:hover{
    transform: scale(1.10);
}

.contact {
    padding: 80px;
    justify-items: center;
    margin-top: 75px;
}

.body-contact {
    padding: 50px;
    width: 50%;
    background-color: rgb(8, 8, 37);
    color: white;
    border-radius: 10px;

}

.name input {

    background-color: white;
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 2px;

}

.email input {
    background-color: white;
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 2px;
}

.Message input {
    background-color: white;
    width: 100%;
    border: none;
    height: 80px;
    border-radius: 2px;
}

.body-contact button {
    margin-top: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: aqua;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.body-contact p {
    margin-top: 15px;
    margin-bottom: 5px;
}

@media screen and (max-width:700px) {
    .navbar-menu-toggle {
        display: block;
    }

    .navbarlink {
        display: none;
    }

    .header-img {
        display: none;
    }

    .service-container-one div {
        display: none;
    }

    .service-container-two {
        flex-direction: column;
    }

    .one {
        margin-top: 110px;
    }

    .New-arrival {
        gap: 15px;
    }
    .body{
        gap: 10px;
        padding: 0px;
    }
    .body-container{
        padding: 0px;
    }
    .contact{
        padding: 0px;
        margin-top: 100px;
    }
    .New-arrival-content img{
        width: 180px;
        height: 280px;
    }
    .body-container img{
        width: 200px;
        height: 300px;
    }
}

@media screen and (min-width:700px) {
    .one {
        margin-top: 190px;
    }
    .side-navbar{
        display: none;
    }
}